@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bebas Neue";
  src: url("BebasNeue-Regular.ttf");
  font-style: normal;

  font-display: swap;
  letter-spacing: 0.2em;
  ascent-override: 110%;
}

@font-face {
  font-family: "Open Sans";
  src: url("OpenSans-Regular.ttf");
  font-style: normal;

  font-display: swap;
}

html * {
  font-family: "Open Sans";
}

h1,
h2 *,
h3 *,
h4 *,
h5 *,
h6 * {
  font-family: "Bebas Neue";
  font-kerning: normal;
  letter-spacing: 0.07em;
}
